/*****

Created by: David M. Conner
Date      : 2015-03-22
Summary   : Learning to utilize media queries via natural breakpoints
            to create a responsive website for a blog.
*****/

/*****
DEFAULTS
*****/
* { margin: 0 0; padding: 0 0;}

body {
    /*Style*/
    background-color: #d3d3d3;
    color: #2e2e2e;
    font-family: Verdana; sans-serif;
    font-size: 1em;

}

/*****
NAV
*****/
.nav {
    /*Layout*/
    margin: 0px 0px;
    padding: 10px 10px;
    /*Style*/
    background-color: #333;
    color: #d3d3d3;
}

/*****
CONTENT
*****/
.content {
    padding: 10px 10px;
}

.ads {
    background-color: #eeeeee;
}

/*****
Articles
*****/
article header h1 {
    /*Style*/
    font-size: 2em;
    color: black;
}

article header h2 {
    /*Style*/
    font-size: .6em;
    border-bottom: thin solid red;
}
/*****
FOOTER
*****/
.footer {
    /*Layout*/
    margin: 0 0;
    padding: 10px 10px;

    /*Style*/
    background-color: #000;
    color: #d3d3d3;
    text-align: center;
}

.footer a {
     color: #d3d3d3;
     text-decoration: none;
 }
